{% extends 'base.html.twig' %}

{% block title %}Modifier {{ team.name }}{% endblock %}

{% block body %}
<h1>Modifier : {{ team.name }}</h1>

{{ form(form) }}

<a href="{{ path('team_list') }}">Annuler</a>
{% endblock %}