{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
<h1>Ajouter un événement</h1>

{{ form(form) }}

<a href="{{ path('event_list') }}">Annuler</a>
{% endblock %}