{% extends 'base.html.twig' %}

{% block title %}Modifier {{ event.title }}{% endblock %}

{% block body %}
<h1>Modifier : {{ event.title }}</h1>

<div class="form-wrapper">
    {{ form(form) }}
    <div class="show-actions">
        <a href="{{ path('event_list') }}" class="btn btn-secondary">Annuler</a>
    </div>
</div>
{% endblock %}
