{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
<h1>Ajouter un message</h1>

{{ form(form) }}

<a href="{{ path('message_list') }}">Annuler</a>
{% endblock %}
