{% extends 'base.html.twig' %}

{% block title %}Nouveau coach{% endblock %}

{% block body %}
<h1>Ajouter un coach</h1>

<div class="form-wrapper">
    {{ form(form) }}
    <div class="show-actions">
        <a href="{{ path('coach_list') }}" class="btn btn-secondary">Annuler</a>
    </div>
</div>
{% endblock %}
