{% extends 'base.html.twig' %}

{% block title %}Modifier {{ coach.name }}{% endblock %}

{% block body %}
<h1>Modifier : {{ coach.name }}</h1>

<div class="form-wrapper">
    {{ form(form) }}
    <div class="show-actions">
        <a href="{{ path('coach_list') }}" class="btn btn-secondary">Annuler</a>
    </div>
</div>
{% endblock %}
